html {
    height: 100%;
}

body {background: #4D4646 50% 50% no-repeat; background-size: cover; -webkit-font-smoothing: antialiased; height: 100%;}


.content {background: rgba(0, 255, 255, 0.3); position: relative; width: 25%; height: 50%; padding: 40px 0;}
.background-container {position: fixed; left: 0; right: 0; top: 0; bottom: 0;} 

.card {
    max-width: 400px;
    display: flex;
    margin: 0 auto; /* Added */
    float: none; /* Added */
}

.card-text{
    word-wrap: break-word;
}
.content {background: rgba(0, 0, 0, 0); 
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.aligner {
    display: flex;
    align-items: center;
    justify-content: center;    
}

.align-item {
    width: 30%;
}

.card-img-top {
    width: 100%;
}

.wrap-extra{
    text-align: center;
}



.new {  
    border-radius: 50%;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 150px;
    border: 0px solid #006A5C;
    box-shadow: 0 3px 6px; width:50%; height:auto;
}

.icons {
    width: auto;
    height: auto;
    max-width: 64px;
    max-height: 64px;
    padding: 10px;
}

li.center{
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    background: #000000;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
    .align-item{
        width: 100%;
        
    }
}